
<html>
  <body>
    <section data-ng-controller="BuysController">
      <div class="page-header">
        <h1>New Buy Scenario</h1>
      </div>
      <form data-ng-submit="create()" novalidate="" class="form-horizontal">
        <div class="col-md-12">
          <h2>Potential Profit : {{potentialProfit || 0.00 | currency}}</h2>
        </div>
        <div class="col-md-5">
          <fieldset>
            <div class="form-group">
              <label for="Merchant" class="control-label">Merchant</label>
              <div class="controls">
                <input id="vendor" type="text" data-ng-model="merchant" placeholder="Where did I buy this?" required="" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="item" class="control-label">Item Description</label>
              <div class="controls">
                <input id="item" data-ng-model="item" placeholder="Item" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="type" class="control-label">Type</label>
              <div class="controls">
                <input id="type" data-ng-model="type" placeholder="Type" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="retail" class="control-label">Retail</label>
              <div class="controls">
                <input id="netCost" type="number" data-ng-model="retail" placeholder="What's the retail price?" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="paid" class="control-label">Paid</label>
              <div class="controls">
                <input id="netCost" type="number" ng-change="updateNet(discountType)" data-ng-model="paid" placeholder="What did I pay (before discounts, tax, shipping)?" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="discount" class="control-label">Discount</label>
              <div class="controls">
                <input id="discount" type="number" ng-change="updateNet('percent')" data-ng-model="discount" placeholder="{{discountType | capitalize}} discount" class="form-control"/>
              </div>
            </div>
            <div ng-init="discountType='percent'" class="form-group">
              <label for="discountType" class="control-label">Type
                <label>
                  <input id="discounttype" type="radio" ng-change="updateNet(discountType)" name="discountType" value="percent" ng-model="discountType" checked="checked"/><span>%</span>
                </label>
                <label>
                  <input id="discounttype" type="radio" ng-change="updateNet(discountType)" name="discountType" value="nominal" ng-model="discountType"/><span>$</span>
                </label>
              </label>
            </div>
            <div class="form-group">
              <label for="netCost" class="control-label">Net Cost</label>
              <div class="controls">
                <input id="netCost" type="number" data-ng-model="netCost" placeholder="Net Cost" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-default"/>
            </div>
            <div data-ng-show="error" class="text-danger"><strong>{{error}}</strong></div>
          </fieldset>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <fieldset>
            <div class="form-group">
              <label for="potentialSale" class="control-label">Potential Sale</label>
              <div class="controls">
                <input id="potentialSale" type="number" ng-change="calculateFeesAndProfit()" ng-model-options="{ debounce: 500 }" data-ng-model="ebay.potentialSale" placeholder="How much do you hope to get?" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="potentialShippingBuyer" class="control-label">Potential Shipping</label>Charge to Buyer
              <div class="controls">
                <input id="potentialShippingBuyer" type="number" ng-change="calculateFeesAndProfit()" data-ng-model="ebay.potentialShippingBuyer" placeholder="How much do you plan to charge the buyer for shipping?" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="potentialShippingSeller" class="control-label">Potential Shipping</label>Costs for You as the Seller
              <div class="controls">
                <input id="potentialShippingSeller" type="number" ng-change="calculateFeesAndProfit()" data-ng-model="ebay.potentialShippingSeller" placeholder="How much do you think you will pay yourself for shipping and handling?" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="potentialPaypalFee" class="control-label">Potential Paypal Fee</label>
              <div class="controls">
                <input id="potentialPaypalFee" type="number" data-ng-model="ebay.potentialPaypalFee" placeholder="Default to 2.9% + $0.30" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="potentialListingFee" class="control-label">Potential Listing Fee</label>
              <div class="controls">
                <input id="potentialListingFee" type="number" data-ng-model="ebay.potentialListingFee" ng-change="calculateFeesAndProfit()" placeholder="Listing Fee" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="potentialFVF" class="control-label">Potential Final-Value Fee</label>
              <div class="controls">
                <input id="potentialFVF" type="number" data-ng-model="ebay.potentialFVF" placeholder="For store owners, 9% of listing price plus shipping charged" class="form-control currency"/>
              </div>
            </div>
            <div class="form-group">
              <label for="netSale" class="control-label">Net Sale</label>
              <div class="controls">
                <input id="netSale" type="number" data-ng-model="ebay.netSale" placeholder="Net proceeds from sale" class="form-control currency"/>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="col-md-12 text-center">
          <h2 data-ng-model="potentialProfit"></h2>
        </div>
      </form>
    </section>
  </body>
</html>