<section data-ng-controller="BuysController" data-ng-init="find()">
    <div class="page-header">
        <h1>Buys</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="buy in buys" data-ng-href="#!/buys/{{buy._id}}" class="list-group-item">
            <small class="list-group-item-text">{{buy.created | date:'medium'}} / {{buy.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{buy.site}}</h4>
            <p class="list-group-item-text">{{buy.item}}</p>
            <p class="list-group-item-text">{{buy.cost}}</p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!buys.$resolved || buys.length">
    	No buys yet, why don't you <a href="/#!/buys/create">create one</a>?
    </div>
</section>
