<section data-ng-controller="BuysController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{buy.site}}</h1>
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == buy.user._id">
		<a class="btn btn-primary" href="/#!/buys/{{buy._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{buy.created | date:'mediumDate'}} by {{buy.user.displayName}}</em>
	</small>
	<p class="lead">
		{{buy.item}}
	</p>
</section>
